.contact-form
	.contact-form-wrapper
		.row
			form(action="php/mail.php" class="contact_form" method="POST")

				input(type="hidden" name="project_name" value="Алрос")
				input(type="hidden" name="admin_email" value="sparrow113@yandex.ru")
				input(type="hidden" name="email_from" value="info@alrosgroup.ru")
				input(type="hidden" name="form_subject" value="Сообщение с сайта Алрос")

			h2.contact-form-title Заполните заявку
				.contact-form-subtitle и мы свяжемся с вами
				.contact-form-close

			label(for="f_name") Ваше имя:
				input(type="text" id="f_name" name="Имя" placeholder="")
			label(for="f_phone") Ваш телефон:
				input(type="text" id="f_email" name="address" placeholder="")
			label(for="f_name") Сообщение:
				textarea(name="message" id="" cols="30" rows="10")
			input(type="submit" class="contact_button" value="Отправить заявку")