extends _template.pug
block title
	title ПРОГЕН

block header
	include _contact-form
	include include/_header-regular
	include include/_main-info
	include include/_main-description

//- block breadcrumbs
//- 	.container
//- 		ul.breadcrumbs
//- 			li
//- 				a(href="index.html") Главная
//- 			li
//- 				a(href="services.html") Услуги

//- block content
//- 	main
//- 		.container
//- 			h1  Тут контент
//- 	include include/_aside