header.header
	.container
		.row.align-items-center
			.col-12
				nav.nav__wrapper
					.col-2.logo
						img(src="img/logo.svg", alt="logo", width="auto")
					.nav__inner
						.nav__inner_upper
							.nav__phone +7 499 677 5222
							.nav__mail reception@progen.su
						ul.nav__inner_lower
							li 
								a(href="#").nav__link о тесте
							li
								a(href="#").nav__link преимущества
							li 
								a(href="#").nav__link врачи
							li
								a(href="#").nav__link отзывы
