section.main-info
	.main-info__inset
		//- img(src="img/pro_landing_bg.jpg", alt="")
	.container
		.main-info__wrapper
			row.no-gutters
				.col-12.main-info__title про_ПГД
				.col-12.offset-md-2.col-md-8.main-info__subtitle Преимплантационная генетическая диагностика (ПГД) – диагностика генетических заболеваний у эмбриона человека до имплантации в матку (до момента наступления беременности).
				a(href="#").btn заказать тест
				a(href="#").main-info__link Узнать подробности
					i(class="fa fa-chevron-down animated infinite fadeInDown delay-2s" aria-hidden="true")